@import "~normalize.css";
@import "./var";
@import "./mixins";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.context-wrap { 
  width: $--context-width;
  margin: 0 auto;
  height: 100%;
}